<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="http://unpkg.com/css-font-family@1.0.6/css/css-font-family.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MX | MakersXchange</title>
</head>
<body>
    <nav class="container"> <!-- NAV BAR -->
      <div class="nav-bar" data-aos="zoom-out">
        <div class="logo"> <!-- LOGO -->
          <img class="shadow-1" src="/images/logo@216x-8.png" width="80px" alt="MX-icon">
        </div>
  
        <div class="nav-list-container w-300">
          <ul class="nav-list w-300"> <!-- Nav Links -->
            <li> 
              <a href="/login"> 
                <img class="shadow-sign-log" src="/images/LOG IN Text.png" alt="login" width="65px"> <!-- DISCOVER -->
              </a></li>
            <li>
              <a href="/signup">
                <img class="shadow-sign-log" src="/images/SIGN UP Text.png" alt="signup" width="75px"> <!-- DASHBOARD -->
              </a>
            </li>
              </a>
            </li>
          </ul>
        </div>
      </div>
    
    </nav>
<!-- ===============================================END OF NAV================================================================= -->

  <!-- ===============================================START OF HEADER================================================================= -->
  <div class="div-5 align-items"> 
    <h1 class="header-text sans-serif" data-aos="zoom-out">
      NEW AGE. <br>
      NEW POSSIBILITIES. <br>
      OPPURTUNITY FOR ALL.
    </h1>
  </div>
  <!-- ===============================================END OF HEADER================================================================= -->
  <!-- ===============================================START OF YELLOW DIV================================================================= -->
  <div class="bg-yellow div-5" data-aos="fade-in">
    <div class="h-25 align-items">
      <h2 class="white-text sans-serif" data-aos="zoom-out">ITS SIMPLE.</h2>
    </div>
    <div class="container row-1"> <!-- BOTTOM DIV -->
      <div class="md-contain" data-aos="fade-up">
        <img src="/images/Create-icon_1@216x-8.png" alt="create-icon" width="225px"> <!-- CREATE -->
        <h3 class="white-demi sans-serif">CREATE</h3>
      </div>
      <div class="md-contain" data-aos="fade-up"> 
        <img src="/images/UPLOAD2.png" alt="upload-icon" width="175px">
        <h3 class="white-demi sans-serif">UPLOAD</h3> <!-- UPLOAD -->
      </div>
      <div class="md-contain" data-aos="fade-up"> <!-- SHARE -->
        <img src="/images/SHARE@216x-8.png" alt="share-icon" width="125px" height="150px">
        <h3 class="white-demi sans-serif">SHARE</h3><!-- SHARE -->
      </div>
    </div>
  </div>
  <!-- ===============================================END OF YELLOW DIV================================================================= -->
  <!-- ===============================================START OF WHO USES================================================================= -->
  <div class="div-5 align-items">
    <div class="container row-1">
      <div class="lg-contain" data-aos="fade-up">
        <div class="row-1">
          <h2 class="header-text sans-serif text-shadow">WHO USES &nbsp;</h2>
          <h2 class="header-text sans-serif shadow-2"><img src="/images/logo@216x-8.png" alt="mx-logo" width="100px">?</h2>
        </div>
          <p class="san-serif text-shadow gray-text">CREATORS LOOKING TO <br>
            EXCHANGE THEIR IDEAS <br>
            AND <br>
            CONSTRUCT A MASTERPIECE. 
          </p>
      </div>
      <div class="align-center lg-contain inline-flex">
        <img  class="shadow-1" src="/images/artist-2@216x-8.png" alt="steve jobs, drake, kanye west" width="400px" data-aos="fade-down">
      </div>
    </div>
  </div>
  <!-- ===============================================END OF WHO USES================================================================= -->
  <!-- ===============================================START OF DO WORK================================================================= -->
  <div class="div-5 bg-aqua align-items">
      <div class="container row-1">
        <div class="align-center lg-contain" data-aos="fade-right">
          <img  class="shadow-1" src="/images/do-work-1.png" alt="steve jobs, drake, kanye west" width="400px">
        </div>
          <div class="lg-contain" data-aos="fade-left">
            <h2 class="header-text sans-serif shadow-2" >DO WORK.</h2> 
            <p class="white-text-sm sans-serif shadow-2" >CREATORS LOOKING TO <br>
              START CREATING, <br>
              SHARING &amp; INSPIRING <br>
              THE <br>
              WORLD. 
            </p>
        </div>
      </div>
  </div>
  <!-- ===============================================END OF DO WORK================================================================= -->
  <footer class="container" data-aos="fade-up">
    <div class="footer row-1">
      <div>
        <p class="gray-text fs-12">&copy;MAKERSXCHANGE <br>
        Miami, FL U.S.A
        </p>
        <p class="gray-text fs-12">&copy;JMXXII</p>
      </div>
      <div class="md-contain">
        <div class="contain-social row-1">
          <a href="https://twitter.com/ironhackmia"><img class="shadow-1" src="/images/twitter.png" alt="twitter-icon" width="30px"></a>
          <a href="https://www.instagram.com/ironhackmia/?hl=en"><img class="shadow-1" src="/images/instagram.png" alt="instagram-icon" width="30px"></a>
          <a href="https://www.youtube.com/channel/UCWD3Q1-d9vzxt1cXUmpbjqg"><img class="shadow-1" src="/images/youtube.png" alt="youtube-icon" width="35px"></a>
        
        </div>
        <br>
        <div>
          <ul class="nav-list w-400">
            <a href="/#"><li class="gray-text fs-12">Legal</li></a>
            <a href="/#"><li class="gray-text fs-12">Privacy</li></a>
            <a href="/#"><li class="gray-text fs-12">Contact Us</li></a>
            <a href="/#"><li class="gray-text fs-12">About Us</li></a>
          </ul>
        </div>
      </div>
    </div>
    
  </footer>
 <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src='/javascripts/script.js'></script>
       <script type="text/javascript">
    AOS.init({
      duration: 3000,
    });
  </script>
</body>
</html>